body {
	background-image: url(ssss.png);
	color: white;
}


#footer {
	background-color: #29b6f6;
	height: 40px;
	width: 100%;
	color: white;
	padding-top: 10px;
}


#blue {
	color: blue;
}


#red {
	color: red;
}


#green {
	color: green;
}


#footerText {
	margin-bottom: 10px;
}